ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/2.8.12.2/CMakeRCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeSystem.cmake
CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/2.8.12.2/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/2.8.12.2/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/TargetDirectories.txt
CMakeFiles/cmake.check_cache
CMakeFiles/d466ae1f20fc82e4cde2a994d208f53d/ALL_BUILD.rule
CMakeFiles/d466ae1f20fc82e4cde2a994d208f53d/ZERO_CHECK.rule
CMakeFiles/d466ae1f20fc82e4cde2a994d208f53d/generate.stamp.rule
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp.list
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
core.vcxproj
core.vcxproj.filters
libcore.opensdf
libcore.sdf
libcore.sln
a
CMakeFiles/2.8.12.1/CMakeCCompiler.cmake
CMakeFiles/2.8.12.1/CMakeCXXCompiler.cmake
CMakeFiles/2.8.12.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/2.8.12.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/2.8.12.1/CMakeSystem.cmake
CMakeFiles/2.8.12.1/CompilerIdC/a.out
CMakeFiles/2.8.12.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/2.8.12.1/CompilerIdCXX/a.out
CMakeFiles/2.8.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/2.8.12.2/CompilerIdC/a.out
CMakeFiles/2.8.12.2/CompilerIdCXX/a.out
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/core.dir/build.make
CMakeFiles/core.dir/C.includecache
CMakeFiles/core.dir/cmake_clean.cmake
CMakeFiles/core.dir/cmake_clean_target.cmake
CMakeFiles/core.dir/CXX.includecache
CMakeFiles/core.dir/depend.internal
CMakeFiles/core.dir/depend.make
CMakeFiles/core.dir/DependInfo.cmake
CMakeFiles/core.dir/flags.make
CMakeFiles/core.dir/link.txt
CMakeFiles/core.dir/progress.make
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/Progress/count.txt
CMakeLists.txt.orig
libcore.a

/tests/tests
core/Base/leveldb/Makefile
debug/Makefile
release/Makefile
tests/Makefile
debug/test
release/test
core.dir/
CMakeFiles/
libs/armeabi/libavcodec.so
libs/armeabi/libavformat.so
libs/armeabi/libavresample.so
libs/armeabi/libavutil.so
libs/armeabi/gdb.setup
libs/armeabi/gdbserver
libs/armeabi/libcore.so
util/gearcollate/libgearcollate.dylib
util/gearcollate/libgearcollate.dylib.dSYM/Contents/Info.plist
util/gearcollate/libgearcollate.dylib.dSYM/Contents/Resources/DWARF/libgearcollate.dylib

release/
*.dmp
debug-qt
release-qt
platforms/mac/include/core/sfl/tests/Makefile
platforms/mac/include/core/sfl/tests/test
